dist: trusty
sudo: required

env:
  - WITH_CMAKE=true BUILD_VTK=true

language: cpp

compiler: gcc

install:
#  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi

addons:
  apt:
    packages:
    - gfortran
    - libglu1-mesa-dev
    - libxt-dev
    - libxi-dev
    - libgl1-mesa-dev
    - libmpich2-dev

git:
  submodules: false

before_install:
  - export NUM_THREADS=4
  - export cwd=$(pwd)
  - export SCRIPTS=$cwd/travis
  - $SCRIPTS/travis_before_script_cleanup.sh
  - export BUILD_DIR=$cwd/build
  - export SV_TOP_DIR=$cwd
  - echo "CLUSTER=x64_linux" > BuildWithMake/cluster_overrides.mk
  - echo "CXX_COMPILER_VERSION=gcc" >> BuildWithMake/cluster_overrides.mk
  - echo "FORTRAN_COMPILER_VERSION=gfortran" >> BuildWithMake/cluster_overrides.mk
  - echo "OPEN_SOFTWARE_BINARIES_TOPLEVEL=$EXTERNALS_TOP/bin/gnu/4.8/x64" > BuildWithMake/global_overrides.mk
  - echo "OPEN_SOFTWARE_BUILDS_TOPLEVEL=" >> BuildWithMake/global_overrides.mk
  - echo "OPEN_SOFTWARE_SOURCES_TOPLEVEL=" >> BuildWithMake/global_overrides.mk
  - echo "LICENSED_SOFTWARE_TOPLEVEL=" >> BuildWithMake/global_overrides.mk
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"

cache:
  directories:

before_script:
  - $SCRIPTS/travis_before_script_cleanup.sh
  #- if ! $WITH_CMAKE; then $ fi

script: $SCRIPTS/travis_build.sh

